In [7]:
import pandas as py
import geopandas as gpd
from shapely.geometry import Point
from shapely.ops import cascaded_union
import folium
from shapely.geometry import Polygon

## A1 資料整理

In [2]:
accidents_gdf_rawData = gpd.read_file("/Users/guoyanting/Desktop/NTUDAC/專案/Gogoro/rawData/traffic_accident/traffic_accident_A1/traffic_accident_A1.shp")

In [15]:
A1_traffic_accident_simple = gpd.GeoDataFrame(columns=['danger_value', 'geometry'])
A1_traffic_accident_simple.crs = "EPSG:4326"

In [38]:
accidents_gdf_rawData

,date,car_1,car_2,gender,death,injury,lng,lat,geometry
0,20180101,小客車,自用,男,1,0,120.578892,23.962235,POINT (120.57889 23.96223)
1,20180101,慢車,腳踏自行車,男,1,0,120.578892,23.962235,POINT (120.57889 23.96223)
2,20180101,None,None,無或物(動物、堆置物),1,0,121.244920,25.036777,POINT (121.24492 25.03678)
3,20180101,機車,普通輕型,男,1,0,121.244920,25.036777,POINT (121.24492 25.03678)
4,20180101,None,None,無或物(動物、堆置物),1,3,120.861178,24.682004,POINT (120.86118 24.68200)
...,...,...,...,...,...,...,...,...,...
23007,20230319,機車,普通輕型,男,1,2,121.534909,25.014082,POINT (121.53491 25.01408)
23008,20230319,人,行人,男,1,2,121.534909,25.014082,POINT (121.53491 25.01408)
23009,20230319,人,乘客,女,1,2,121.534909,25.014082,POINT (121.53491 25.01408)
23010,20230320,機車,普通重型,男,1,0,120.321991,23.774329,POINT (120.32199 23.77433)
23011,20230320,None,None,無或物(動物、堆置物),1,0,120.321991,23.774329,POINT (120.32199 23.77433)

In [44]:
A1_traffic_accident_simple = accidents_gdf_rawData[accidents_gdf_rawData['car_1'] == '機車']

In [54]:
A1_traffic_accident_simple['danger_value'] = A1_traffic_accident_simple['death'].astype(int)*10 + A1_traffic_accident_simple['injury'].astype(int)

/Users/guoyanting/Library/Python/3.9/lib/python/site-packages/geopandas/geodataframe.py:1443: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [56]:
A1_traffic_accident_simple = A1_traffic_accident_simple[['danger_value','geometry']]

In [57]:
A1_traffic_accident_simple

       danger_value                    geometry
3                10  POINT (121.24492 25.03678)
9                10  POINT (120.77116 23.82721)
15               10  POINT (120.45893 23.70092)
18               11  POINT (121.21952 24.95953)
19               10  POINT (121.37125 24.92364)
...             ...                         ...
22999            10  POINT (121.44845 24.92782)
23002            11  POINT (121.53711 25.05376)
23005            12  POINT (120.59163 23.35763)
23007            12  POINT (121.53491 25.01408)
23010            10  POINT (120.32199 23.77433)

[7443 rows x 2 columns]

死亡與受傷危險值比例計算以強制險給付金額上限計算為 10：1  
給付範圍：傷害醫療費用（每人）最高20萬、失能或死亡定額給付（每人）最高200萬，合計每人最高賠償額度為220萬

In [58]:
A1_traffic_accident_simple.to_file('/Users/guoyanting/Desktop/NTUDAC/專案/Gogoro/rawData/traffic_accident/traffic_accident_A1/A1_simple/A1_simple.shp',
            driver='ESRI Shapefile',
            encoding='utf-8')

/var/folders/6d/ds7n9s6d4hg1t4dlgvtpv97w0000gn/T/ipykernel_7523/1613020421.py:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  A1_traffic_accident_simple.to_file('/Users/guoyanting/Desktop/NTUDAC/專案/Gogoro/rawData/traffic_accident/traffic_accident_A1/A1_simple/A1_simple.shp',

## A2 資料整理

In [14]:
accidents_gdf_rawData_A2 = gpd.read_file("/Users/guoyanting/Desktop/NTUDAC/專案/Gogoro/rawData/traffic_accident/traffic_accident_A2/traffic_accident_A2.shp")

In [59]:
A2_traffic_accident_simple = gpd.GeoDataFrame(columns=['danger_value', 'geometry'])
A2_traffic_accident_simple.crs = "EPSG:4326"

In [61]:
A2_traffic_accident_simple = accidents_gdf_rawData_A2[accidents_gdf_rawData_A2['car_1'] == '機車']

In [63]:
A2_traffic_accident_simple['danger_value'] = A2_traffic_accident_simple['injury'].astype(int)

/Users/guoyanting/Library/Python/3.9/lib/python/site-packages/geopandas/geodataframe.py:1443: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [64]:
A2_traffic_accident_simple = A2_traffic_accident_simple[['danger_value','geometry']]

In [65]:
A2_traffic_accident_simple

         danger_value                    geometry
0                   1  POINT (121.53166 24.97005)
1                   1  POINT (121.53166 24.97005)
3                   1  POINT (120.30515 22.61922)
4                   1  POINT (120.57971 23.85961)
6                   1  POINT (121.32937 24.96879)
...               ...                         ...
3652540             2  POINT (120.56089 22.69464)
3652541             1  POINT (121.48294 25.05089)
3652542             1  POINT (121.48294 25.05089)
3652543             3  POINT (121.61788 25.06581)
3652544             3  POINT (121.61788 25.06581)

[1955847 rows x 2 columns]

In [66]:
A2_traffic_accident_simple.to_file('/Users/guoyanting/Desktop/NTUDAC/專案/Gogoro/rawData/traffic_accident/traffic_accident_A2/A2_simple/A2_simple.shp',
            driver='ESRI Shapefile',
            encoding='utf-8')

/var/folders/6d/ds7n9s6d4hg1t4dlgvtpv97w0000gn/T/ipykernel_7523/3260895465.py:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  A2_traffic_accident_simple.to_file('/Users/guoyanting/Desktop/NTUDAC/專案/Gogoro/rawData/traffic_accident/traffic_accident_A2/A2_simple/A2_simple.shp',