In [8]:
import pandas as pd
import geopandas as gpd
import re
import glob

In [3]:
pd.set_option("display.max_columns", None)

## 開啟並合併 A2 raw data

In [13]:
# 設定要讀取的欄位
cols_to_keep = ["發生日期", "當事者區分-類別-大類別名稱-車種", "當事者區分-類別-子類別名稱-車種", "當事者屬-性-別名稱", "死亡受傷人數", "經度", "緯度"]

# 建立一個空的 DataFrame
A2_raw_data_2022 = pd.DataFrame()

# 使用 glob 模組來搜尋所有 csv 檔案
for filename in glob.glob('/Users/guoyanting/Desktop/NTUDAC/專案/Gogoro/rawData/traffic_accident/03_A1A2交通事故統計資料/2022_傷亡道路交通事故資料/111年度A2交通事故資料_*.csv'):
    
    # 讀取特定欄位
    data = pd.read_csv(filename, usecols=cols_to_keep)
    
    # 將讀取到的資料加到 A2_raw_data_2022 DataFrame 中
    A2_raw_data_2022 = pd.concat([A2_raw_data_2022, data], ignore_index=True)

# 輸出結果
print(A2_raw_data_2022)

              發生日期   死亡受傷人數 當事者區分-類別-大類別名稱-車種 當事者區分-類別-子類別名稱-車種   當事者屬-性-別名稱  \
0       20220901.0  死亡0;受傷1               小客車                自用            男
1       20220901.0  死亡0;受傷1               小客車                自用            男
2       20220901.0  死亡0;受傷1               小客車                自用            女
3       20220901.0  死亡0;受傷1                機車              普通重型            男
4       20220901.0  死亡0;受傷1               NaN               NaN  無或物(動物、堆置物)
...            ...      ...               ...               ...          ...
559739  20220630.0  死亡0;受傷3                機車              普通重型            男
559740  20220630.0  死亡0;受傷3                機車              普通重型            男
559741  20220630.0  死亡0;受傷3                 人                乘客            男
559742         NaN      NaN               NaN               NaN          NaN
559743         NaN      NaN               NaN               NaN          NaN

                經度         緯度
0       120.445980  22.477609
1       120.445980  22.477609
2       120.445980  22.477609
3       120.583002  24.051588
4       120.583002  24.051588
...            ...        ...
559739  121.617878  25.065808
559740  121.617878  25.065808
559741  121.617878  25.065808
559742         NaN        NaN
559743         NaN        NaN

[559744 rows x 7 columns]

In [11]:
# 設定要讀取的欄位
cols_to_keep = ["發生日期", "當事者區分-類別-大類別名稱-車種", "當事者區分-類別-子類別名稱-車種", "當事者屬-性-別名稱", "死亡受傷人數", "經度", "緯度"]

# 建立一個空的 DataFrame
A2_raw_data = pd.DataFrame()

year_list = ["2018","2019","2020","2021","2022"]

for year in year_list:
    # 使用 glob 模組來搜尋所有 csv 檔案
    for filename in glob.glob('/Users/guoyanting/Desktop/NTUDAC/專案/Gogoro/rawData/traffic_accident/03_A1A2交通事故統計資料/'+year+'_傷亡道路交通事故資料/'+year+'年度A2交通事故資料_*.csv'):
        
        # 讀取特定欄位
        data = pd.read_csv(filename, usecols=cols_to_keep)
        
        # 將讀取到的資料加到 A2_raw_data DataFrame 中
        A2_raw_data = pd.concat([A2_raw_data, data], ignore_index=True)

In [14]:
A2_raw_data = pd.concat([A2_raw_data, A2_raw_data_2022], ignore_index=True)

In [18]:
A2_raw_data = A2_raw_data.dropna(subset=["發生日期"])

## 清理與整理 A2 raw data

In [19]:
A2_data = A2_raw_data

In [20]:
A2_data[['死亡','受傷']] = A2_data['死亡受傷人數'].str.split(';', expand=True)
A2_data['死亡'] = A2_data['死亡'].apply(lambda x: re.sub('[^\d]+', '', x))
A2_data['受傷'] = A2_data['受傷'].apply(lambda x: re.sub('[^\d]+', '', x))
A2_data.drop(columns=['死亡受傷人數'], inplace=True)

/var/folders/6d/ds7n9s6d4hg1t4dlgvtpv97w0000gn/T/ipykernel_18543/1419529913.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A2_data[['死亡','受傷']] = A2_data['死亡受傷人數'].str.split(';', expand=True)
/var/folders/6d/ds7n9s6d4hg1t4dlgvtpv97w0000gn/T/ipykernel_18543/1419529913.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A2_data['死亡'] = A2_data['死亡'].apply(lambda x: re.sub('[^\d]+', '', x))
/var/folders/6d/ds7n9s6d4hg1t4dlgvtpv97w0000gn/T/ipykernel_18543/1419529913.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A2_data['受傷'] = A2_data['受傷'].apply(lambda x: re.sub('[^\d]+', '', x))
/var/folders/6d/ds7n9s6d4hg1t4dlgvtpv97w0000gn/T/ipykernel_18543/1419529913.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A2_data.drop(columns=['死亡受傷人數'], inplace=True)

In [22]:
A2_data["發生日期"] = pd.to_datetime(A2_data["發生日期"], format='%Y%m%d').dt.date

/var/folders/6d/ds7n9s6d4hg1t4dlgvtpv97w0000gn/T/ipykernel_18543/850537944.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A2_data["發生日期"] = pd.to_datetime(A2_data["發生日期"], format='%Y%m%d').dt.date

In [25]:
A2_data = A2_data.reindex(columns=["發生日期", "當事者區分-類別-大類別名稱-車種", "當事者區分-類別-子類別名稱-車種", "當事者屬-性-別名稱", "死亡", "受傷", "經度", "緯度"])

In [26]:
A2_data.columns = ['date', 'car_1', 'car_2', 'gender', 'death', 'injury', 'lng', 'lat']

In [27]:
A2_data

               date car_1 car_2 gender death injury         lng        lat
0        2018-04-01    機車  普通重型      男     0      1  121.531664  24.970048
1        2018-04-01    機車  普通重型      女     0      1  121.531664  24.970048
2        2018-04-01   小客車    自用      女     0      1  120.305153  22.619220
3        2018-04-01    機車  普通重型      男     0      1  120.305153  22.619220
4        2018-04-01    機車  普通重型      男     0      1  120.579711  23.859606
...             ...   ...   ...    ...   ...    ...         ...        ...
3652651  2022-06-30    機車  普通重型      女     0      1  121.482941  25.050892
3652652  2022-06-30    機車  普通重型      男     0      1  121.482941  25.050892
3652653  2022-06-30    機車  普通重型      男     0      3  121.617878  25.065808
3652654  2022-06-30    機車  普通重型      男     0      3  121.617878  25.065808
3652655  2022-06-30     人    乘客      男     0      3  121.617878  25.065808

[3652546 rows x 8 columns]

## 匯出檔案

In [28]:
A2_data.to_csv("/Users/guoyanting/Desktop/NTUDAC/專案/Gogoro/rawData/traffic_accident/traffic_accident_A2/traffic_accident_A2.csv",index=False)

In [29]:
# 建立 GeoDataFrame
gdf = gpd.GeoDataFrame(
    A2_data, geometry=gpd.points_from_xy(A2_data['lng'], A2_data['lat']))

# 轉換座標系統，這裡以 EPSG 4326 為例
gdf = gdf.set_crs(epsg=4326)

In [31]:
gdf['date'] = gdf['date'].astype('str')

In [32]:
# 存成 Shapefile 檔案
gdf.to_file('/Users/guoyanting/Desktop/NTUDAC/專案/Gogoro/rawData/traffic_accident/traffic_accident_A2/traffic_accident_A2.shp',
            driver='ESRI Shapefile',
            encoding='utf-8')